body{text-decoration: none;
    font-family: arial,sans-serif;
    font-size: small;
}
a {
    text-decoration: none;
}
a:hover{
     text-decoration-line: underline;
}
.rightbar ul .avatar{
    background-color: rgb(12, 88, 201);
    border: 10px solid rgb(12, 88, 201);
    border-radius: 50%;
    font-size: 15px;
    font-stretch: wider;
    color: aliceblue;
}
.avatar:hover{
    border: solid #ccc 30px;
}
li{
display: inline;
color: rgb(12, 5, 43);
} 
.rightbar{
    margin-top: 20px;
    width: 100%;
    text-align: end;
    font-stretch: wider
}
.searchBar{
    width: 100%;
    text-align: center;

}
p{
    display: inline;
}
.input{
    text-align: center;
    padding: 0em 0em 2em 0em;
    border: 2em;
    border-color: black;
    border-radius: 10%;
}
.nig{
    display: grid;
    grid-column: 1/10;
    padding: 1em;
    border-color: rgb(255, 255, 255);
}
.footer .nig{
    border: 1px solid #ccc;
}
.footer{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    background-color: #efefef;
    grid-gap: space-around;
    border-bottom: solid em;
    
}
.footer li{
    justify-content: start;
    ;
}
.lang{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: rgb(12, 5, 43);

}
.image{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
}

